<div class="content">
  <div class="card">
    <div class="body welcome">
      <h3>Bienvenido de nuevo, Alejandro</h3>
      <p>Esto es lo nuevo en tu empresa</p>
      <div class="line"></div>
    </div>
  </div>

  <div class="card">
    <div class="header"><h5>PROXIMO DESCANSO</h5></div>
    <div class="body c-gray">
      <p>No se avecinan ausencias.</p>
    </div>
  </div>

  <div class="card tasks">
    <div class="header"><h5>TAREAS PENDIENTES</h5></div>
    <div class="body c-gray">
      <i class="material-icons icon">coffee</i>
      <p>No hay nada pendiente, ve a tomar un café. Te lo mereces.</p>
    </div>
  </div>

  <div class="card">
    <div class="header"><h5>PROXIMO EVENTO</h5></div>
    <div class="body c-gray">
      <p>No hay eventos próximos. Si se acerca una ocasión especial, puede crear un evento para ella ahora.</p>
    </div>
    <div class="footer">
      <button class="btn">
        <div class="content-btn">
          <p>Crear evento</p>
          <i class="material-icons">arrow_forward</i>
        </div>
      </button>
    </div>
  </div>

  <div class="card">
    <div class="header"><h5>PROXIMO FESTIVOS</h5></div>
    <div class="body c-gray">
      <i class="material-icons icon">event_busy</i>
      <p>No hay festivos cercanos.</p>
    </div>
    <div class="footer">
      <button class="btn">
        <div class="content-btn">
          <p>Configurar las vacaciones de la empresa</p>
          <i class="material-icons">arrow_forward</i>
        </div>
      </button>
    </div>
  </div>

</div>
